* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue-light: #2c9ddb;
  --blue-normal: #1484c1;
  --blue-dark: #006da8;
  --gray-light: #dddddd;
  --gray-normal: #7c7b7b;
  --gray-dark: #635959;
  --black-light: #403c3a;
  --black-normal: #25201e;
  --black-dark: #0d0a09;
  --red-normal: #DB424C;
  --white-light: #fffefe;
  --white-normal: #f3f2f2;

  --gradient-blue: linear-gradient(
    90deg,
    rgba(44, 157, 219, 1) 0%,
    rgba(20, 132, 193, 1) 35%,
    rgba(0, 109, 168, 1) 100%
  );
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  html,
  body {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 87.5%;
  }
}
