* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --blue-light: #2c9ddb;
  --blue-normal: #1484c1;
  --blue-dark: #006da8;
  --green-light: #4eff21;
  --green-normal: #42d91c;
  --green-dark: #36b317;
  --white-normal: #fffefe;
  --white-dark: #f2f2f2;
  --gray-normal: #dddddd;
  --black-light: #403c3a;
  --black-normal: #25201e;
  --black-dark: #0d0a09;

  --gradient-blue: 90deg, #45ade6 0%, #0092e0 50.83%, #006da8 99.79%;

  /* Sizes */
  --size-xl: clamp(3rem, 4rem, 5rem);
  --size-md: clamp(1.3rem, 1.5rem, 2rem);
  --size-sm: clamp(0.75rem, 1.3rem, 1.4rem);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  html,
  body {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 87.5%;
  }
}
