.content_projects{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 5em;
}

.content_projects .group_projects{
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content_projects .group_projects .slider_group{
    display: flex;
    overflow-x: auto;
    padding: 2rem 1rem;
    gap: 1%;
}