.content_projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  margin: 0 0 5rem 0;
}

.content_projects .group_projects {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.content_projects .group_projects .badFeatured {
  display: none;
  transition: 0.3s;
  width: 100%;
  height: 10rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--black-normal);
  padding: 1rem 3rem;

  -webkit-animation: moveY 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: moveY 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes moveY {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

.content_projects .group_projects .bannerFeatured:hover .badFeatured {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_projects .group_projects .badFeatured .content_title {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content_projects .group_projects .badFeatured .content_title h3 {
  color: var(--blue-normal);
  font-size: 1.7rem;
  font-weight: 500;
}

.content_projects .group_projects .badFeatured .content_title p {
  color: var(--blue-dark);
  font-size: 1.1rem;
  max-width: 90%;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content_projects .group_projects .badFeatured .content_title p span small {
  color: var(--black-light);
}

.content_projects .group_projects .badFeatured a {
  width: 15rem;
  height: 3rem;
  background-color: var(--blue-normal);
  color: var(--white-normal);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.content_projects .group_projects .badFeatured a:hover {
  background-color: var(--blue-light);
}

.container_carousel {
  width: 100%;
  min-height: 10rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_center {
  width: 80%;
  max-width: 1254px;
  position: relative;
}

#btnPrev,
#btnNext {
  border: none;
  background: none;
  font-size: 2rem;
  color: var(--gray-normal);
  transition: 0.3s;
  cursor: pointer;
}

#btnPrev:hover,
#btnNext:hover {
  color: var(--blue-normal);
}

#btnPrev {
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translate(0, -50%);
}

#btnNext {
  position: absolute;
  right: -3rem;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (min-width: 1081px) and (max-width: 1200px) {
  .content_projects {
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  #btnPrev {
    left: -3rem;
  }

  #btnNext {
    right: -3rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .content_projects .group_projects .badFeatured {
    height: 5rem;
  }

  .content_projects .group_projects .badFeatured .content_title p {
    display: none;
  }

  #btnPrev {
    left: -2.5rem;
  }

  #btnNext {
    right: -2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .content_projects .group_projects .badFeatured {
    height: 5rem;
    padding: 1rem;
  }
  .content_projects .group_projects .badFeatured .content_title {
    display: none;
  }

  .content_projects .group_projects .badFeatured a {
    width: 90%;
  }

  #btnPrev {
    left: -2.5rem;
  }

  #btnNext {
    right: -2.5rem;
  }

  .container_empty {
    width: 80%;
    height: 20rem;
  }

  .container_empty p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  #btnPrev,
  #btnNext {
    display: none;
  }
}
