.content_skills {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 2rem;
  margin: 5rem 0;
}

.content_skills .content_progress_skills {
  width: 100%;
  min-height: 50vh;
  max-width: 900px;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-around;
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .content_skills .content_progress_skills {
    gap: 4rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 769px) {
  .content_skills .content_progress_skills {
    gap: 1rem;
  }
}

@media screen and (max-width: 601px) {
  .content_skills {
    padding: 3rem 1rem;
  }

  .content_skills .content_progress_skills {
    gap: 1rem;
  }
}
