.content_about {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 3rem;
  background-color: var(--white-normal);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_about .about {
  width: 90%;
  min-height: 80vh;
  max-width: 1500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: url(../../../assets/foto.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 30rem;
}

.content_about .about p {
  margin-top: 0.5rem;
  color: var(--gray-dark);
  max-width: 50%;
  text-align: justify;
  font-size: 1.2rem;
}

.content_about .about p small {
  margin-left: 0.5rem;
  color: var(--blue-normal);
}

.content_about .about p strong {
  font-size: 1.2rem;
  color: var(--red-normal);
}

.content_about .about button {
  margin-top: 2rem;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .content_about {
    background: url(../../../assets/foto.png);
    background-position: 90% 3rem;
    background-repeat: no-repeat;
    background-size: 10rem;
  }
  .content_about .about {
    background: none;
  }
  .content_about .about {
    align-items: center;
  }
  .content_about .about p {
    max-width: 80%;
    margin-top: 2rem;
  }
  .content_about .about button {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 601px) {
  .content_about {
    background: none;
    padding: 1rem;
  }

  .content_about .about {
    background: none;
  }
  .content_about .about {
    align-items: center;
  }

  .content_about .about h4 {
    font-size: 1.3rem;
  }

  .content_about .about strong {
    font-size: 1.3rem;
    text-align: center;
  }

  .content_about .about p {
    max-width: 100%;
    margin-top: 2rem;
  }
  .content_about .about button {
    margin-top: 4rem;
  }
}
