.form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container_ul {
  width: 50%;
  min-height: calc(100vh - 5rem);
  align-items: center;
  justify-content: center;
}
