.form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container_ul {
  width: 50%;
  min-height: calc(100vh - 6rem);
  align-items: center;
  justify-content: center;
}

.container_progress {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container_progress p {
  color: var(--black-normal);
  font-size: var(--size-md);
  font-weight: 400;
}

@media screen and (max-width: 1080px) {
  .form,
  .container_ul {
    width: 100%;
    margin: 1rem 0;
  }
}
